@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color1: #1c0113;
    --color2: #6b0103;
    --color3: #a30006;
    --color4: #c21a01;
    --color5: #f03c02;
    --color6: #eee;
}

/* Estilização global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
}

/* estilizando o aside */

.layout {
    display: flex;
}

aside {
    background: linear-gradient(180deg, var(--color5), var(--color4));
    height: 100vh;
    color: var(--color6);
    padding: 2rem;
    min-width: 35%;
    top: 0;
    left: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.div-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 40px;
}

header h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

header button {
    background-color: transparent;
    border: 2px solid var(--color6);
    color: var(--color6);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

header button:hover {
    background-color: var(--color6);
    color: var(--color5);
}

/* estilizando a primeira seção */

.section1 {
    margin: 2rem 0;
}

.section1 h2 {
    font-size: 3rem;
    margin: 0;
}

/* estilizando os cards da aside section2 */

.section2 .cards-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.cards {
    width: 30%;
    margin: 1rem 0;
    background-color: #6b0103;
    height: 10rem;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 100px;
}

/*Estilizando section 3*/
.section-03 {
    background: #1C0113;
    background: linear-gradient(219deg, rgba(28, 1, 19, 1) 0%, rgba(238, 238, 238, 1) 100%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    /*32px*/
    text-align: center;
    /*alinhamento do texto ao centro*/
    font-size: 1.1rem;
    /*definindo tamanho do texto*/
}

.section-03 p {
    text-align: center;
    color: #1C0113;
    margin: 2rem;
    text-transform: uppercase;
    font-weight: 800;
}

img {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}


.content {
    display: flex;
    /*flexbox (lado a lado)*/
    justify-content: center;
    /*alinhamento horizontal*/
    align-items: center;
    /*alinhamento vertical*/
    flex-wrap: wrap;
    /*quebra de caixas*/
    gap: 5rem;
    /*espaçamento entre caixas*/
    margin-bottom: 1rem;
}

.div-list ul {
   margin-bottom: 0.5rem;
   flex-direction: row;
   display: flex;
   gap: 5rem;
}

.div-list a {
    text-decoration: none;
    font-family: roboto;
    color:#1C0113;
    font-weight: 800;
}

.div-list a:hover {
    color: #f03c02;
    text-decoration: underline;
}

@media (max-width: 800px) {
    .layout {
        flex-direction: column;
    }
    
}